<table cellspacing=0 cellpadding=0 width="100%" border=0>
<tr valign="bottom">
  <td class="shortcut">
    #if ($petstoreUser.hasLoggedIn())
      <a href="$petstoreLogoutLink">退出 $petstoreUser.id</a>
    #else
      <a href="$petstoreLoginLink">登录</a>
    #end
  </td>
  <td class="shortcut">
    &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
  </td>
  <td class="shortcut">
    <a href="$userModule.setTarget("account")">用户信息</a>
  </td>
</tr>
</table>
