$page.addStyleSheet("$homeContent.getURI('css/petstore-store.css')")

    <table width="100%"  border="0" cellspacing="0" cellpadding="10">
      <thead >
		 <td>项目名称</td>
		 <td>技术经理</td>
		 <td>是否完成</td>
      </thead>
	  #foreach ($project in $projectList)
	  <tr>
        <td>!$project.projectName</td>
		<td>!$project.technicalManager</td>
		<td>!$project.aone</td>
      </tr>
	  #end
    </table>
