<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration> 
  <properties resource="com/alibaba/ppm/common/config/datasource.properties">
  </properties>
  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="${driver}"/>
        <property name="url" value="${url}"/>
        <property name="username" value="${user}"/>
        <property name="password" value="${password}"/>
      </dataSource>
    </environment>
  </environments> 
  <mappers>
   <mapper resource="com/alibaba/ppm/process/mapper/TemplateConfigBeanMapper.xml"/>
   <mapper resource="com/alibaba/ppm/process/mapper/TemplateConfigBeanMapperExt.xml"/>
   <mapper resource="com/alibaba/ppm/process/mapper/TemplateNodeBeanMapper.xml"/>
   <mapper resource="com/alibaba/ppm/process/mapper/TemplateNodeBeanMapperExt.xml"/>
   <mapper resource="com/alibaba/ppm/process/mapper/ProjectBeanMapperExt"/>
   <mapper resource="com/alibaba/ppm/process/mapper/ProjectBeanMapper"/>
  </mappers>
</configuration>